@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: hsl(209, 61%, 16%);
    background-color: rgb(255 255 255);
  }
  .page {
    min-height: calc(100vh - 3.5rem - 15rem - 8rem);
  }

  h1 {
    font-family: "Roboto", sans-serif;
    color: #d89c60;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: hsl(209, 34%, 30%);
  }
  .people-title {
    font-size: 1.2em;
    letter-spacing: 0.05rem;
  }
  .subTitle {
    color: #d89c60;
    font-size: 1.3em;
    text-indent: 0;
    /* font-family: "Oswald", sans-serif; */
    font-weight: 400;
  }
  .hero-title {
    /* font-family: Menlo; */
    font-size: 1em;
    color: hsl(209, 61%, 16%);
  }
  .hero-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
  }
  .footer {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 0.9em;
  }
  .btn {
    text-transform: uppercase;
    /* background: rgb(226 232 240); */
    color: hsl(209, 34%, 30%);
    /* background: rgb(100 116 139); */
    /* color: rgb(248 250 252); */
    padding: 0.275rem 0.75rem;
    display: inline-block;
    font-weight: 500;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    border-radius: 0.25rem;
  }
  .btn:hover {
    background: rgb(100 116 139);
    color: rgb(248 250 252);
    /* color: hsl(184, 91%, 17%); */
    /* background: rgb(226 232 240); */
  }
  .side-nav {
    text-transform: uppercase;
    color: rgb(38 38 38);
    padding: 0.275rem 0.75rem;
    display: inline-block;
    font-weight: 700;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    cursor: pointer;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  }
  .side-nav:hover {
    color: hsl(184, 91%, 17%);
  }
  .stack {
    display: inline-block;
    background: hsl(212, 33%, 89%);
    color: hsl(210, 22%, 49%);
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }
  .gatsby-highlight-code-line {
    background-color: #feb;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
  }
  .mk img {
    padding-top: 1rem;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
  }
  .mk p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    /* font-weight: 300; */
  }
  .mk-page p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
  }
  .icon {
    background-color: transparent;
  }
  .markdown img {
    padding-top: 1rem;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
  }
  .markdown a {
    color: #51a0d5;
  }
  .markdown a:hover {
    text-decoration: underline;
  }
  .markdown img {
    padding-top: 1rem;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
  }
  .markdown a:hover {
    text-decoration: underline;
  }
  .headshot div {
    border-radius: 50%;
  }
  .headshot img {
    border-radius: 50%;
  }
}
